<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        @media screen and (max-width: 480px) {
            .admin-sidebar {
                display: none;
            }
        }

        @media screen and (min-width: 480px) {
            .admin-tabs {
                display: none;
            }
        }

        .admin-sidebar {
            max-width: 13%;
        }

        #sidebar-admin {
            position: fixed;
        }

        .admin-sidebar-item {
            padding: 1em;
            border-bottom: 1px solid white;
        }

        .admin-nav {
            background: #49C2B3;
        }

        .admin-nav-item {
            color: white;
            font-weight: bold;
        }

        .admin-nav-item:hover {
            color: white;
            background: #41aea1;
        }

        .admin-nav-item.active {
            background: #53FFE7 !important;
            color: white !important;
        }

        .admin-header-block {
            background: #434449;
            color: white !important;
            text-align: left;
            padding: 20px;
            margin-top: 10px;
            margin-bottom: 20px;
            border-color: #ddd;
            border-radius: 4px;
            font-weight: bold;
        }

        .admin-filter-button {
            background: #78B404;
            color: white !important;
            font-weight: bold;
        }

        .admin-user-card {
            margin-bottom: 10px;
        }


    </style>
</head>
<body>
<th:block th:replace="share/header :: header"></th:block>

<div class="row">
    <div class="col-sm-2 admin-sidebar">
        <div class="nav flex-column nav-pills text-center text-uppercase admin-nav" id="sidebar-admin" role="tablist"
             aria-orientation="vertical">
            <a class="nav-link  admin-nav-item admin-sidebar-item"
               role="tab" th:href="@{/borrowbooks/}" onclick="reloadpage()"
               aria-selected="false">Manage Order</a>
<!--            <a th:href="@{/borrowbooks/bookFree}">List Book can borrow</a>-->
            <a class="nav-link admin-nav-item admin-sidebar-item" role="tab"
               aria-selected="false" th:href="@{/borrowbooks/bookFree}" >List Book</a>
            <a class="nav-link admin-nav-item admin-sidebar-item" role="tab"
               aria-selected="false" th:href="@{/borrowbooks/student}">List Student</a>
        </div>
    </div>

</div>
<br><br>

<!--manage order-->
<div class="container" th:fragment="content">
    <div>
        <h1 style="text-align: center; margin: 0">Manage borrow book order</h1>
    </div>
    <hr>
<!--    <nav class="navbar">-->
<!--        <form class="form-inline">-->
<!--            <input class="form-control mr-sm-2" type="search" name="search" id="search"-->
<!--                   placeholder="Search by name" aria-label="Search">-->
<!--        </form>-->
<!--    </nav>-->
    <div>
        <nav class="navbar">
            <form class="form-inline col-sm-12">
                <div class="col-sm-12"><input class="form-control mr-sm-2" style="width: 100%;" type="search" name="search" placeholder="Search by book name or student name" aria-label="Search"></div>
            </form>
            <br><br>

            <form class="form-inline col-sm-12" th:action="@{/borrowbooks/addOrder}"
                  method="POST">
                <div class="col-sm-12"><p style="color: red" id="addmess" th:if="${addmess}" th:utext="${addmess}"></p></div>
                <div class="col-sm-4"><input class="form-control mr-sm-2" type="text" id="studentId" name="studentId"
                                             placeholder="Student Id"
                                             aria-label="first" style="width: 100%;"></div>
                <div class="col-sm-4"><input class="form-control mr-sm-2" type="text" id="bookId" name="bookId"
                                             placeholder="Book Id"
                                             aria-label="last" style="width: 100%;"></div>
                <div class="col-sm-4">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <button class="nav-link admin-filter-button text-uppercase" type="submit">Create</button>
                        </li>
                    </ul>
                </div>
            </form>

<!--            <form class="form-inline col-sm-12" th:action="@{/borrowbooks/quicksearch}">-->
<!--                <select name="quick" id="quick-search">-->
<!--                    <option value="nosearch">Quick search</option>-->
<!--                    <option value="completed">Order completed</option>-->
<!--                    <option value="uncompleted">Order uncompleted</option>-->
<!--                </select>-->
<!--            </form>-->
        </nav>
        <div></div>
        <span style="color: red; margin-top:5px" id="validate"></span>
        <br>
        <table class="table table-striped">
            <thead>
            <th colspan="4">Order Information</th>
            </thead>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Student Name</th>
                <th scope="col">Book</th>
                <th scope="col">Date</th>
                <th scope="col">Action</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody id="drawTable">
            <tr th:each="borrow, b : ${borrowbooks}">
                <td th:utext="${b.index+1}"></td>
                <td th:utext="${borrow.student.name}"></td>
                <td th:utext="${borrow.book.name}"></td>
                <td th:utext="${borrow.date}"></td>
                <td><a th:if="${borrow.type}!='completed'" th:href="@{borrowbooks/findById/(id=${borrow.id})}" class="btn btn-danger">Delete</a></td>
                <td><a th:hidden="${borrow.type}=='completed'?'hidden':'false'" th:href="@{borrowbooks/findById/(id=${borrow.id})}" class="btn btn-primary">Return</a></td>
            </tr>
            </tbody>
        </table>
        <div>
            <ul class="nav nav-pills">
                <li class="nav-item" th:each="i:${#numbers.sequence(0,borrowbooks.totalPages-1)}">
                    <a th:href="@{'/borrowbooks'(page=${i})}" th:text="${i+1}" class="nav-link" th:classappend="${borrowbooks.number}==${i}?'active':''"></a>
                </li>
            </ul>
        </div>
    </div>
</div>


<!-- delete order Modal -->
<div class="modal fade" id="deleteOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{/borrowbooks/deleteOrder}"
              th:object="${order}" method="put">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete order confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="delete-order-info">
                    Are you sure to delete?
                    <div class="form-group">
                        <!--                        <label class="col-form-label">Name:</label>-->
                        <input type="text" hidden id="order-id" class="form-control" th:field="*{id}"
                               th:value="${order.id}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Student Name:</label>
                        <p th:field="*{student}" id="order-student-name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Book Name:</label>
                        <p th:field="*{book}" id="order-book-name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Date:</label>
                        <p th:field="*{date}" id="order-date">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Note:</label>
                        <input type="text" th:required="required" th:field="*{note}"  class="form-control" id="order-note">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reloadpage()">Close
                    </button>
                    <button type="submit" class="btn btn-danger" id="delete-order-confirm">
                        Delete
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- return order Modal -->
<div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form th:action="@{/borrowbooks/returnOrder}"
              th:object="${order}" method="put">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalLabel">Return book confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="return-order-info">
                    Are you sure to return?
                    <div class="form-group">
                        <!--                        <label class="col-form-label">Name:</label>-->
                        <input type="text" hidden id="return-order-id" class="form-control" th:field="*{id}"
                               th:value="${order.id}">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Student Name:</label>
                        <p th:field="*{student}" id="return-order-student-name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Book Name:</label>
                        <p th:field="*{book}" id="return-order-book-name">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Date start borrowing:</label>
                        <p th:field="*{date}" id="return-order-date">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="reloadpage()">Close
                    </button>
                    <button type="submit" class="btn btn-danger" id="return-order-confirm">
                        Return
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<th:block th:replace="share/footer :: footer"></th:block>

<script>
    function reloadpage() {
        window.location.reload();
    }
    $(document).ready(function (){
        // let studentId = $('#studentId').val();
        // let bookId = $('#bookId').val();
        // var href = 'http://localhost:8080/borrowbooks/addOrder?studentId='+studentId+'&bookId='+bookId;
        // console.log(studentId+ "        "+bookId)
        // $.post(href, function (order, status) {
        //     event.preventDefault();
        //     console.log(order)
        // })
        $('.table .btn-danger').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (order, status) {
                // var link = "http://localhost:8080/borrowbooks/listOrderCompleted?id=" + order.id;
                // $.get(link, function (check, status) {
                //     if (check) {
                //         // console.log(" vao duoc if k")
                //         $('#delete-order-info').html("Order completed, can't edit");
                //         $('#delete-order-confirm').hide();
                //     } else {
                        $('#order-id').val(order.id);
                        console.log("id laf bn", order.id)
                        // $('#order-student-name').val(order.student);
                        // $('#order-book-name').val(order.book);
                        // $('#order-dat').val(order.date);
                        $('#order-student-name').html(order.student.name);
                        $('#order-book-name').html(order.book.name);
                        $('#order-date').html(order.date);
                //     }
                // })
            })
            $('#deleteOrderModal').modal();
        })
        $('.table .btn-primary').on('click', function (event) {
            event.preventDefault();
            var href = $(this).attr('href');
            $.get(href, function (order, status) {
                // var link = "http://localhost:8080/borrowbooks/listOrderCompleted?id=" + order.id;
                // $.get(link, function (check, status) {
                //     if (check) {
                //         // console.log(" vao duoc if k")
                //         $('#delete-order-info').html("Order completed, can't edit");
                //         $('#delete-order-confirm').hide();
                //     } else {
                        $('#return-order-id').val(order.id);
                        console.log("id laf bn", order.id)
                        // $('#order-student-name').val(order.student);
                        // $('#order-book-name').val(order.book);
                        // $('#order-dat').val(order.date);
                        $('#return-order-student-name').html(order.student.name);
                        $('#return-order-book-name').html(order.book.name);
                        $('#return-order-date').html(order.date);
                //     }
                // })
            })
            $('#returnOrderModal').modal();
        })
    })
</script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>